@import url(https://fonts.googleapis.com/css?family=Anton:regular&display=swap);@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?425241b584ab3ea9c06815f309403af9") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-zara"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-whiteCheckMark"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-versace"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-twiter"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-starRev"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-star"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-prada"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-label"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-halfStar"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-gucci"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-greenCheckMark"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-gitHab"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-fullStar"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-filter"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-cross"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-cart"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-can"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-calvin"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-arrowSubMenu"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-arrowMenu"]::before { 
		content: "\f118"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f119"; 
	} 
	[class*="--icon-accaunt"]::before { 
		content: "\f11a"; 
	} 
* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "Satoshi";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.cards__items {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.75rem, 18.4375rem));
  justify-items: center;
  justify-content: center;
}
.cards__item {
  opacity: 0;
  transform: translateY(-3.125rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  padding: 0.8125rem;
  background-color: #f9f9f9;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  width: 100%;
}
.cards__item:hover > .cards__image > img {
  transform: scale(1.05);
}
.cards__item:hover > .cards__image {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}
.cards__item.show {
  opacity: 1;
  transform: translateY(0);
}
.cards__image {
  width: 100%;
  aspect-ratio: 3, 5/4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  transition: box-shadow 0.3s ease;
}
.cards__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.cards__title {
  font-weight: 600;
  line-height: 120%;
}
.cards__rating {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-bottom: 0.5rem;
  pointer-events: none;
}
.cards__price {
  font-weight: 600;
  margin-top: auto;
  width: 100%;
  display: flex;
}
.cards__prics-discount {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.cards__prics-discount span {
  display: inline-block;
  padding: 0.375rem 0;
  align-items: center;
  text-align: center;
  color: rgb(255, 51, 51);
  background-color: rgba(255, 51, 51, 0.1);
  text-align: center;
  border-radius: 3.875rem;
  position: relative;
  top: -0.1875rem;
}
.cards__view-all {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 15.9375rem;
  height: 3.25rem;
  border-radius: 3.875rem;
  border: 0.0625rem solid #000;
  align-items: center;
  font-weight: 500;
  transition: color, background-color 0.3s ease;
  margin: 0 auto;
}
.review__slide {
  max-width: 25rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.review__stars {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  pointer-events: none;
}
.review__name {
  font-weight: 600;
}
.review__name-confirmed {
  color: green;
}
.review__rew {
  color: rgba(0, 0, 0, 0.6);
}
.rating-stars {
  display: flex;
  gap: 0.125rem;
}
.rating-stars {
  display: flex;
  gap: 0.125rem;
  font-size: 1.125rem;
  color: gold;
}
.rating-stars .star.empty {
  color: #ccc;
}
.rating-stars .star.half {
  color: gold;
  opacity: 0.5;
}
.color .spollers__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 0.96875rem;
}
.color .checkbox__text {
  display: block;
  width: 2.3125rem;
  height: 2.3125rem;
  cursor: pointer;
}
.color .checkbox__text:before {
  content: "";
  border-radius: 50%;
  align-self: flex-start;
  flex: 0 0 2.3125rem;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.6);
}
.color .checkbox__text:before#green {
  background-color: #0A9E88;
}
.color .checkbox__text:before#red {
  background-color: #FF0000;
}
.color .checkbox__text:before#blue {
  background-color: #0000FF;
}
.color .checkbox__text#green::before {
  background-color: rgb(0, 193, 43);
}
.color .checkbox__text#red::before {
  background-color: rgb(245, 6, 6);
}
.color .checkbox__text#blue::before {
  background-color: rgb(6, 58, 245);
}
.color .checkbox__text#yelow::before {
  background-color: rgb(245, 221, 6);
}
.color .checkbox__text#orange::before {
  background-color: rgb(245, 121, 6);
}
.color .checkbox__text#skyblue::before {
  background-color: rgb(6, 202, 245);
}
.color .checkbox__text#purple::before {
  background-color: rgb(125, 6, 245);
}
.color .checkbox__text#pink::before {
  background-color: rgb(245, 6, 164);
}
.color .checkbox__text#white::before {
  background-color: rgb(255, 255, 255);
}
.color .checkbox__text#black::before {
  background-color: rgb(0, 0, 0);
}
.color .checkbox__text::after {
  content: "\f102";
  font-family: "iconfont";
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 1rem;
  border-radius: 0;
  background-color: rgba(253, 253, 253, 0);
  position: absolute;
  left: 0.625rem;
  top: 0.375rem;
}
.color .checkbox__text#white::after {
  color: black;
}
.size .checkbox__text {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(240, 240, 240);
  border-radius: 3.875rem;
  padding: 0.625rem 1.25rem;
  z-index: 2;
  transition: color 0.3s ease;
}
.size .checkbox__text:before {
  display: none;
}
.size .checkbox__text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3.875rem;
  background-color: rgb(240, 240, 240);
  z-index: -1;
  transition: background-color 0.3s ease;
}
.size .checkbox input:checked + .checkbox__text {
  color: #fff;
}
.size .checkbox input:checked + .checkbox__text::after {
  background-color: #000;
}
.size .spollers__body {
  row-gap: 0.5rem;
}
.size .spollers__body-row {
  display: flex;
  column-gap: 0.5rem;
}/* Generated by vite-plugin-svg-spritemap */
.spollers {
  display: grid;
}

.spollers__item {
  font-size: 1rem;
}

.spollers__wrap {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem 0 0 0;
  row-gap: 0.9375rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
  transition: color 0.5s ease 0s;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.3125rem;
  top: 50%;
  background-color: #000;
  height: 0.09375rem;
  width: 0.5rem;
  transition: transform, 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active {
  color: rgb(255, 166, 0);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
  background-color: rgb(255, 166, 0);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
  background-color: rgb(255, 166, 0);
}

.sub2 {
  padding-left: 1.25rem;
}

.spollers__body {
  width: 9.375rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
}/* Generated by vite-plugin-svg-spritemap */
.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  display: flex;
  height: 5.9375rem;
  align-items: center;
  vertical-align: middle;
  background-color: white;
  position: relative;
  z-index: 999;
}
.header__container {
  width: 100%;
  height: 5.9375rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-family: "Anton";
}
.header__logo a {
  position: relative;
  z-index: 999;
  transition: color 0.4s ease;
}
.header__logo a:hover {
  color: rgb(255, 166, 0);
}

.line__container {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.header-search {
  position: relative;
  width: 100%;
}
.header-search .search-header__icon {
  position: absolute;
  top: 52%;
  left: 0.9375rem;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
.header-search .search-header__input {
  background-color: rgb(242, 240, 241);
  border-radius: 3.875rem !important;
  cursor: pointer;
  height: 2.5rem;
  padding-left: 2.9375rem;
  line-height: 2.5rem;
  text-align: left;
  border: none;
  outline: none;
}
.menu__list {
  display: flex;
  justify-content: center;
}
.menu__item {
  position: relative;
  display: block;
}
.menu__item a:before {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  bottom: -0.3125rem;
  border-radius: 3.125rem;
  background: rgb(255, 166, 0);
  transform: scaleX(0);
  z-index: 999;
}
.menu__parent {
  position: relative;
}
.menu__parent:hover > .sub-menu__list {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s ease;
}
.menu__parent:hover > .menu__link {
  color: rgb(255, 166, 0);
}

.spollers {
  display: none;
}

.menu__link {
  color: #000;
  transition: color 0.2s ease;
}

.sub {
  transition: all 0.4s ease;
  cursor: pointer;
}
.sub::after {
  content: "\f117";
  font-family: "iconfont";
  transform: rotate(180deg);
  position: relative;
  vertical-align: middle;
  font-weight: 300;
  font-size: 0.6875rem;
  margin-left: 0.375rem;
}

.sub-menu__list {
  visibility: hidden;
  opacity: 0;
  width: 9.375rem;
  padding-top: 0.625rem;
  position: absolute;
  transform: translate(-20%, 0);
  z-index: 999;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0s linear 0.4s;
}
.sub-menu__wrap {
  background-color: rgb(242, 240, 241);
  display: flex;
  text-align: left;
  flex-direction: column;
  border-radius: 0.625rem 0rem;
  padding: 0.9375rem;
  gap: 0.9375rem;
  color: #000;
  font-size: 1rem;
  border: 0.0625rem solid #000;
}
.sub-menu__wrap ul {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.sub-menu__list.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

#sub2 .sub-menu__wrap {
  background-color: rgb(242, 240, 241);
  position: relative;
  max-width: 6.25rem;
  transform: translate(73%, 0);
}
#sub2 .sub-menu__list {
  width: 12.5rem;
  transform: translate(-27%, -34%);
  left: 100%;
}
#sub2:hover .sub::after {
  transform: rotate(90deg);
}
#sub2:hover .sub {
  color: rgb(255, 166, 0);
}

.actions-header {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;
}
.actions-header__item {
  transition: color 0.4s ease;
}
.actions-header__item:active {
  color: none;
}

.header-search__search-mobile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -1.25rem;
  left: 0;
  width: 100%;
  padding: 0.9375rem;
  background-color: rgba(242, 240, 241, 0.904);
  transform: scale(1.5);
  transition: all 0.4s ease;
}
.header-search__search-mobile .--icon-arrow {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 1.875rem;
  top: 50%;
  font-size: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.show-on-mobile .input {
  height: 1.5625rem;
  background-color: rgb(242, 240, 241);
  box-shadow: rgb(242, 240, 241) 0rem 0rem 0.625rem;
}

.--icon-cart {
  font-size: 1.25rem;
  position: relative;
}
.--icon-cart .cart-active {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.125rem;
  height: 1.125rem;
  background-color: rgb(255, 51, 51);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.--icon-cart .--hiden {
  opacity: 0;
  visibility: hidden;
}

.--icon-accaunt {
  font-size: 1.25rem;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll] {
  position: sticky;
  top: 0;
  left: 0;
}
[data-fls-header-scroll].--header-scroll {
  transition: transform 0.3s;
  transform: translate(0rem, -100%);
}
[data-fls-header-scroll].--header-show {
  transform: translate(0, 0);
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: rgb(240, 240, 240);
  color: rgba(0, 0, 0, 0.6);
}
.footer::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 100%;
  left: 0;
  right: 0;
}
.footer__wrapper {
  position: relative;
}
.latest-offers {
  position: relative;
  background-color: #000;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border-radius: 1.25rem;
  align-items: center;
}
.latest-offers__title {
  font-family: "Anton";
  line-height: 110%;
}
.email__form {
  display: flex;
  flex-direction: column;
}
.email__icon-wrap {
  position: relative;
}
.email__input {
  background-color: rgb(255, 255, 255);
  color: #000;
  padding-left: 2.5rem !important;
}
.email__icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
}
.email__btn {
  background-color: rgb(255, 255, 255);
  color: #000;
  border-radius: 3.75rem;
  font-weight: 500;
  border: 0.0625rem solid rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.links {
  display: flex;
  column-gap: 6.8125rem;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 3.125rem;
  margin-bottom: 1.5625rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.links__shop-co {
  padding-right: 0.3125rem;
  max-width: 15.625rem;
  display: flex;
  flex-direction: column;
}
.links__logo {
  color: #000;
  font-family: "Anton";
}
.links__logo a {
  transition: color 0.4s ease;
}
.links__logo a:hover {
  color: rgb(255, 166, 0);
}
.links__text {
  line-height: 130%;
  margin-bottom: 1.25rem;
}
.links__media {
  color: #000;
  display: flex;
  column-gap: 0.75rem;
  margin-top: auto;
}
.links__media a {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 3.125rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
}
.links__media .links__facebook {
  background-color: #000;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}
.links__twiter {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.links__facebook {
  background-color: #000;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}
.links__insta {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.links__gitHub {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.links__categories {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.links__list {
  display: flex;
  flex-direction: column;
  max-width: 15.625rem;
}
.links__title {
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 500;
}
.links__item {
  transition: color 0.3s ease;
  line-height: 1.5rem;
}
.links__item a {
  position: relative;
  display: inline;
}
.links__item a:before {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  bottom: -0.3125rem;
  border-radius: 3.125rem;
  background: #000;
  transform: scaleX(0);
}

.end {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  gap: 1rem;
  align-items: center;
}
.end__payment {
  display: flex;
  justify-content: space-between;
}
.end__payment-item {
  max-width: 100%;
}
.end__payment-img-pbg {
  width: 100%;
  object-fit: cover;
}/* Generated by vite-plugin-svg-spritemap */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 3.75rem;
  width: 100%;
  display: block;
  padding: 0rem 1.25rem;
  border: 0.0625rem solid #000;
  caret-color: inherit;
}
.input.--form-error {
  border: 0.0625rem solid red !important;
}

.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}/* Generated by vite-plugin-svg-spritemap */@media (min-width: 96.875rem){
  [class*=__container] {
    min-width: 100%;
    padding: 0 6.25rem;
  }}@media (min-width: 116.25rem){
  [class*=__container] {
    min-width: 118.75rem;
    padding: 0 6.25rem;
  }}@media (min-width: 79.375em){
  .cards__items {
    column-gap: 1.25rem;
  }
  .cards__items {
    row-gap: 2.25rem;
  }
  .cards__image {
    height: 18.625rem;
  }
  .cards__image {
    margin-bottom: 1rem;
  }
  .cards__title {
    font-size: 1.25rem;
  }
  .cards__title {
    margin-bottom: 0.5rem;
  }
  .cards__price {
    font-size: 1.5rem;
  }
  .cards__price {
    column-gap: 0.625rem;
  }
  .cards__prics-discount span {
    font-size: 0.75rem;
  }
  .cards__prics-discount span {
    min-width: 3.625rem;
  }
  .cards__prics-discount span {
    margin-left: 0.625rem;
  }
  .cards__view-all {
    font-size: 1rem;
  }
  .cards__view-all {
    margin-top: 2.25rem;
  }
  .rating-didgital {
    font-size: 0.875rem;
  }
  .review__slide {
    padding-top: 1.75rem;
  }
  .review__slide {
    padding-right: 2rem;
  }
  .review__slide {
    padding-bottom: 1.5rem;
  }
  .review__slide {
    padding-left: 3.125rem;
  }
  .review__stars {
    margin-bottom: 0.9375rem;
  }
  .review__name {
    font-size: 1.25rem;
  }
  .review__name {
    margin-bottom: 0.75rem;
  }
  .review__name-confirmed {
    font-size: 1.125rem;
  }
  .review__rew {
    font-size: 1rem;
  }
  .header__logo {
    font-size: 1.875rem;
  }
  .menu__list {
    column-gap: 1.5rem;
  }
  .menu__list {
    row-gap: 1.5rem;
  }
  .footer {
    font-size: 1rem;
  }
  .footer::before {
    height: 5.625rem;
  }
  .latest-offers {
    padding-top: 2.25rem;
  }
  .latest-offers {
    padding-right: 4rem;
  }
  .latest-offers {
    padding-bottom: 2.25rem;
  }
  .latest-offers {
    padding-left: 4rem;
  }
  .latest-offers {
    margin-bottom: 3.125rem;
  }
  .latest-offers__title {
    max-width: 34.375rem;
  }
  .latest-offers__title {
    font-size: 2.1875rem;
  }
  .latest-offers__title {
    letter-spacing: 0.625rem;
  }
  .email {
    width: 21.8125rem;
  }
  .email__form {
    row-gap: 0.875rem;
  }
  .email__input {
    height: 3rem;
  }
  .email__input {
    font-size: 1rem;
  }
  .email__icon {
    font-size: 1.25rem;
  }
  .email__btn {
    height: 3rem;
  }
  .links {
    padding-bottom: 3.125rem;
  }
  .links {
    margin-bottom: 1.5625rem;
  }
  .links__logo {
    margin-bottom: 1.5625rem;
  }
  .links__logo {
    font-size: 1.875rem;
  }
  .links__categories {
    column-gap: 1.875rem;
  }
  .links__list {
    row-gap: 1.3125rem;
  }}@media (min-width: 20em) and (max-width: 79.375em){
  .cards__items {
    column-gap: clamp( 0.3125rem , -0.00328947368125rem  +  1.5789473684vw , 1.25rem );
  }
  .cards__items {
    row-gap: clamp( 1.5rem , 1.24736842105rem  +  1.2631578947vw , 2.25rem );
  }
  .cards__image {
    height: clamp( 12.5rem , 10.4368421052625rem  +  10.3157894737vw , 18.625rem );
  }
  .cards__image {
    margin-bottom: clamp( 0.625rem , 0.498684210525rem  +  0.6315789474vw , 1rem );
  }
  .cards__title {
    font-size: clamp( 0.875rem , 0.748684210525rem  +  0.6315789474vw , 1.25rem );
  }
  .cards__title {
    margin-bottom: clamp( 0.25rem , 0.16578947368125rem  +  0.4210526316vw , 0.5rem );
  }
  .cards__price {
    font-size: clamp( 1.125rem , 0.998684210525rem  +  0.6315789474vw , 1.5rem );
  }
  .cards__price {
    column-gap: clamp( 0.3125rem , 0.20723684210625rem  +  0.5263157895vw , 0.625rem );
  }
  .cards__prics-discount span {
    font-size: clamp( 0.625rem , 0.58289473684375rem  +  0.2105263158vw , 0.75rem );
  }
  .cards__prics-discount span {
    min-width: clamp( 3.125rem , 2.95657894736875rem  +  0.8421052632vw , 3.625rem );
  }
  .cards__prics-discount span {
    margin-left: clamp( 0.3125rem , 0.20723684210625rem  +  0.5263157895vw , 0.625rem );
  }
  .cards__view-all {
    font-size: clamp( 0.875rem , 0.83289473684375rem  +  0.2105263158vw , 1rem );
  }
  .cards__view-all {
    margin-top: clamp( 1.5rem , 1.24736842105rem  +  1.2631578947vw , 2.25rem );
  }
  .rating-didgital {
    font-size: clamp( 0.75rem , 0.70789473684375rem  +  0.2105263158vw , 0.875rem );
  }
  .review__slide {
    padding-top: clamp( 1.5rem , 1.41578947368125rem  +  0.4210526316vw , 1.75rem );
  }
  .review__slide {
    padding-right: clamp( 1.5rem , 1.33157894736875rem  +  0.8421052632vw , 2rem );
  }
  .review__slide {
    padding-bottom: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem );
  }
  .review__slide {
    padding-left: clamp( 1.5rem , 0.95263157895rem  +  2.7368421053vw , 3.125rem );
  }
  .review__stars {
    margin-bottom: clamp( 0.75rem , 0.6868421052625rem  +  0.3157894737vw , 0.9375rem );
  }
  .review__name {
    font-size: clamp( 1rem , 0.91578947368125rem  +  0.4210526316vw , 1.25rem );
  }
  .review__name {
    margin-bottom: clamp( 0.5rem , 0.41578947368125rem  +  0.4210526316vw , 0.75rem );
  }
  .review__name-confirmed {
    font-size: clamp( 0.875rem , 0.79078947368125rem  +  0.4210526316vw , 1.125rem );
  }
  .review__rew {
    font-size: clamp( 0.875rem , 0.83289473684375rem  +  0.2105263158vw , 1rem );
  }
  .header__logo {
    font-size: clamp( 1.5625rem , 1.45723684210625rem  +  0.5263157895vw , 1.875rem );
  }
  .menu__list {
    column-gap: clamp( 0.3125rem , -0.0875rem  +  2vw , 1.5rem );
  }
  .menu__list {
    row-gap: clamp( 0.9375rem , 0.7480263157875rem  +  0.9473684211vw , 1.5rem );
  }
  .footer {
    font-size: clamp( 0.875rem , 0.83289473684375rem  +  0.2105263158vw , 1rem );
  }
  .footer::before {
    height: clamp( 5.625rem , 8.13157894736875rem  +  -3.1578947368vw , 7.5rem );
  }
  .latest-offers {
    padding-top: clamp( 2rem , 1.91578947368125rem  +  0.4210526316vw , 2.25rem );
  }
  .latest-offers {
    padding-right: clamp( 1.5rem , 0.65789473684375rem  +  4.2105263158vw , 4rem );
  }
  .latest-offers {
    padding-bottom: clamp( 1.75rem , 1.58157894736875rem  +  0.8421052632vw , 2.25rem );
  }
  .latest-offers {
    padding-left: clamp( 1.5rem , 0.65789473684375rem  +  4.2105263158vw , 4rem );
  }
  .latest-offers {
    margin-bottom: clamp( 2rem , 1.62105263158125rem  +  1.8947368421vw , 3.125rem );
  }
  .latest-offers__title {
    max-width: clamp( 18.75rem , 13.4868421052625rem  +  26.3157894737vw , 34.375rem );
  }
  .latest-offers__title {
    font-size: clamp( 0.9375rem , 0.51644736841875rem  +  2.1052631579vw , 2.1875rem );
  }
  .latest-offers__title {
    letter-spacing: clamp( 0.3125rem , 0.20723684210625rem  +  0.5263157895vw , 0.625rem );
  }
  .email {
    width: clamp( 19.375rem , 18.55394736841875rem  +  4.1052631579vw , 21.8125rem );
  }
  .email__form {
    row-gap: clamp( 0.75rem , 0.70789473684375rem  +  0.2105263158vw , 0.875rem );
  }
  .email__input {
    height: clamp( 2.625rem , 2.498684210525rem  +  0.6315789474vw , 3rem );
  }
  .email__input {
    font-size: clamp( 0.875rem , 0.83289473684375rem  +  0.2105263158vw , 1rem );
  }
  .email__icon {
    font-size: clamp( 1rem , 0.91578947368125rem  +  0.4210526316vw , 1.25rem );
  }
  .email__btn {
    height: clamp( 2.625rem , 2.498684210525rem  +  0.6315789474vw , 3rem );
  }
  .links {
    padding-bottom: clamp( 2.5rem , 2.2894736842125rem  +  1.0526315789vw , 3.125rem );
  }
  .links {
    margin-bottom: clamp( 1rem , 0.8105263157875rem  +  0.9473684211vw , 1.5625rem );
  }
  .links__logo {
    margin-bottom: clamp( 0.875rem , 0.64342105263125rem  +  1.1578947368vw , 1.5625rem );
  }
  .links__logo {
    font-size: clamp( 1.5625rem , 1.45723684210625rem  +  0.5263157895vw , 1.875rem );
  }
  .links__categories {
    column-gap: clamp( 1.25rem , 1.0394736842125rem  +  1.0526315789vw , 1.875rem );
  }
  .links__list {
    row-gap: clamp( 1rem , 0.89473684210625rem  +  0.5263157895vw , 1.3125rem );
  }}@media (max-width: 20em){
  .cards__items {
    column-gap: 0.3125rem;
  }
  .cards__items {
    row-gap: 1.5rem;
  }
  .cards__image {
    height: 12.5rem;
  }
  .cards__image {
    margin-bottom: 0.625rem;
  }
  .cards__title {
    font-size: 0.875rem;
  }
  .cards__title {
    margin-bottom: 0.25rem;
  }
  .cards__price {
    font-size: 1.125rem;
  }
  .cards__price {
    column-gap: 0.3125rem;
  }
  .cards__prics-discount span {
    font-size: 0.625rem;
  }
  .cards__prics-discount span {
    min-width: 3.125rem;
  }
  .cards__prics-discount span {
    margin-left: 0.3125rem;
  }
  .cards__view-all {
    font-size: 0.875rem;
  }
  .cards__view-all {
    margin-top: 1.5rem;
  }
  .rating-didgital {
    font-size: 0.75rem;
  }
  .review__slide {
    padding-top: 1.5rem;
  }
  .review__slide {
    padding-right: 1.5rem;
  }
  .review__slide {
    padding-bottom: 1.5rem;
  }
  .review__slide {
    padding-left: 1.5rem;
  }
  .review__stars {
    margin-bottom: 0.75rem;
  }
  .review__name {
    font-size: 1rem;
  }
  .review__name {
    margin-bottom: 0.5rem;
  }
  .review__name-confirmed {
    font-size: 0.875rem;
  }
  .review__rew {
    font-size: 0.875rem;
  }
  .header__logo {
    font-size: 1.5625rem;
  }
  .menu__list {
    column-gap: 0.3125rem;
  }
  .menu__list {
    row-gap: 0.9375rem;
  }
  .footer {
    font-size: 0.875rem;
  }
  .footer::before {
    height: 7.5rem;
  }
  .latest-offers {
    padding-top: 2rem;
  }
  .latest-offers {
    padding-right: 1.5rem;
  }
  .latest-offers {
    padding-bottom: 1.75rem;
  }
  .latest-offers {
    padding-left: 1.5rem;
  }
  .latest-offers {
    margin-bottom: 2rem;
  }
  .latest-offers__title {
    max-width: 18.75rem;
  }
  .latest-offers__title {
    font-size: 0.9375rem;
  }
  .latest-offers__title {
    letter-spacing: 0.3125rem;
  }
  .email {
    width: 19.375rem;
  }
  .email__form {
    row-gap: 0.75rem;
  }
  .email__input {
    height: 2.625rem;
  }
  .email__input {
    font-size: 0.875rem;
  }
  .email__icon {
    font-size: 1rem;
  }
  .email__btn {
    height: 2.625rem;
  }
  .links {
    padding-bottom: 2.5rem;
  }
  .links {
    margin-bottom: 1rem;
  }
  .links__logo {
    margin-bottom: 0.875rem;
  }
  .links__logo {
    font-size: 1.5625rem;
  }
  .links__categories {
    column-gap: 1.25rem;
  }
  .links__list {
    row-gap: 1rem;
  }}@media (max-width: 40.3125rem){
  .cards__items {
    grid-template-columns: repeat(2, 1fr);
  }}@media (any-hover: hover){
  .cards__item:hover {
    background-color: #f3f3f3;
  }
  .cards__view-all:hover {
    background-color: #000;
    color: rgb(255, 255, 255);
  }
  .menu__item:hover :before {
    transform: scaleX(1) !important;
  }
  .menu__item:hover {
    color: #000;
  }
  .menu__link:hover {
    color: rgb(255, 166, 0);
  }
  .sub-menu__item:hover {
    color: rgb(255, 166, 0);
  }
  .actions-header__item:hover {
    color: rgb(255, 166, 0);
  }
  .email__btn:hover {
    background-color: #000;
    color: rgb(255, 255, 255);
  }
  .links__media .links__facebook:hover {
    background-color: blue;
  }
  .links__twiter:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
  }
  .links__facebook:hover {
    background-color: blue;
  }
  .links__insta:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 85);
  }
  .links__gitHub:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(98, 0, 255);
  }
  .links__item:hover :before {
    transform: scaleX(1) !important;
  }
  .links__item:hover {
    color: #000;
  }}@media (max-width: 25.625rem){
  .cards__price {
    flex-direction: column-reverse;
    text-align: center;
    gap: 0.625rem;
  }}@media (max-width: 49.31125rem){
  .cards__view-all {
    min-width: 100%;
  }
  .header__container {
    grid-template-columns: 1fr 1fr;
  }
  .menu__body {
    height: 100vh;
  }
  .menu__list {
    padding-top: 6.25rem;
    flex-direction: column;
    font-weight: 500;
    font-family: "Satoshi";
    font-size: 1.125rem;
    background-color: rgb(242, 240, 241);
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    row-gap: 1.5625rem;
    border-radius: 0rem 0rem 0.625rem 0rem;
  }
  .menu__parent {
    display: none;
  }
  .spollers {
    display: block;
  }
  .spollers .spollers__wrap {
    font-size: 1.125rem;
    row-gap: 1.5625rem;
  }
  .spollers .spollers__title {
    font-size: 1.125rem;
    row-gap: 1.5625rem;
  }
  .spollers .spollers__body {
    width: 100%;
  }
  .sub-menu__list {
    transform: translate(169%, -19%);
  }}@media (max-width: 21.875rem){
  .rating-didgital {
    display: none;
  }}@media (max-width: 49.31125em){
  .menu__body {
    position: fixed;
    width: auto;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    border-right: 0.0625rem solid #000;
    border-bottom: 0.0625rem solid #000;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.0625rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }}@media (max-width: 49.31125em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }}@media (max-width: 35.625rem){
  .header__actions {
    justify-self: flex-end;
  }
  .header-search {
    width: auto;
  }
  .header-search .search-header__icon {
    position: relative;
    margin-right: 0.875rem;
    color: #000;
    pointer-events: auto;
  }
  .header-search .search-header__icon:hover {
    color: rgb(255, 166, 0);
  }
  .header-search .search-header__input {
    display: none;
  }
  .show-on-mobile {
    opacity: 1;
    visibility: visible;
    top: 5.9375rem;
    transform: scale(1);
  }}@media (max-width: 49.31125rem) and (min-width: 79.375em){
  .menu__list {
    width: 15.625rem;
  }}@media (max-width: 49.31125rem) and (min-width: 20em) and (max-width: 79.375em){
  .menu__list {
    width: clamp( 13.125rem , 12.28289473684375rem  +  4.2105263158vw , 15.625rem );
  }}@media (max-width: 49.31125rem) and (max-width: 20em){
  .menu__list {
    width: 13.125rem;
  }}@media (max-width: 47.86rem){
  .latest-offers {
    flex-direction: column;
    row-gap: 2rem;
  }}@media (min-width: 1.25em) and (max-width: 22.546875em){
  .email {
    width: clamp( 12.5rem , 12.20652971386875rem  +  23.4776228907vw , 17.5rem );
  }}@media (max-width: 65.985rem){
  .links {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .links__shop-co {
    max-width: 25rem;
  }}@media (max-width: 41.2975rem){
  .links__categories {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.875rem;
  }}@media (max-width: 43.7975rem){
  .end {
    flex-direction: column;
  }}